html {
	font-size: 16px;
	min-height: 100%;
}

body {
	margin: 0;
  padding: 0;
	font-family: 'Roboto Slab', serif;
}

article {
  color: #343842;
}

h1,
h2,
h4,
h5 {
	font-family: 'Ruda', sans-serif;
	font-weight: 400;
}

h3,
h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

h1 {
	font-size: 3rem;
}

h3 {
	font-size: 1.75rem;
}

@media only screen and (min-width: 992px) {
	h1 {
		font-size: 5rem;
	}
	
	h3 {
		font-size: 2rem;
	}
}



/*GENERAL STYLES*/
.zind-2 {
	z-index: 2;
}



/*NAVIGATION*/
.navbar {
	padding: 1.25rem 0.5rem 0.5rem 0.5rem;
	font-family: 'Ruda', sans-serif;
	font-weight: 500;
}

.nav-link {
	color: #FFF !important;
	text-shadow: 1px 1px 1px #000;
}

.current a {
	font-weight: 600;
	text-decoration: underline;
}

.btn-outline-success {
	color: #FFF;
	border: 2px solid #FFF;
}

.btn-outline-success:hover {
	color: #FFF;
	background-color: #EB6417;
	border: 2px solid #EB6417;
}

.btn-outline-success:active {
	color: #FFF;
	background-color: #EB6417;
	border: 2px solid #EB6417;
	box-shadow: 0 0 0 0.25rem rgba(184, 79, 18, 0.5);
}

.btn-outline-success:focus {
	box-shadow: 0 0 0 0.25rem rgba(184, 79, 18, 0.5);
}

#nav-logo {
	height: 50px;
	width: 50px;
}



/*MAIN*/
.carousel {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.carousel img {
	height: 100%;
}

.carousel-item {
	transition: transform .9s ease-in-out;
}

.carousel-text,
.main-text {
	position: absolute;
	width: 100%;
	height: 50%;
	padding: 2rem;
	text-align: center;	
}

.carousel-text {
	bottom: 20%;
}

.main-text {
	bottom: 35%;
}

.carousel-caption {
	bottom: 6rem;
}

.carousel-text h1 {
	color: #FFF;
	display: block;
	text-shadow: 1px 1px 1px #112438;
}

.carousel-text h3 {
	text-align: center;
	color: #314152;
	text-shadow: 1px 0 0 #C8D2DE, 0 1px 0 #C8D2DE, -1px 0 0 #C8D2DE, 0 -1px 0 #C8D2DE;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 1rem;
}

.main-text h1 {
	font-size: 5rem;
	font-weight: 900;
	color: #B84F12;
	text-shadow: 1px 1px 1px #112438;
}

.main-text h2 {
	background-color: rgba(17, 36, 56, 0.35);
	border-radius: 1%;
	font-weight: 500;
	color: #FFF;
	text-shadow: 1px 0 0 #112438, 0 1px 0 #112438, -1px 0 0 #112438, 0 -1px 0 #112438;

}

.main-contact {
	position: absolute;
	top: 89.5%;
	width: 100%;
	padding: 1rem;
}

.main-contact img {
	width: 50px;
}

@media only screen and (min-width: 992px) {
	.main-text h1 {
		font-size: 7rem;
	}

	.carousel-text {
		bottom: 35%;
	}

	.carousel-text h1 {
		display: flex;
	}

	.carousel-text h3 {
		text-align: start;
		background-color: rgba(255, 255, 255, 0);
		text-shadow: 1px 1px 1px #CED2DE;
	}

	.carousel-third h3 {
		padding-bottom: 20%;
	}

	.carousel-fifth h1 {
		padding-top: 15%;
	}

	.carousel-sixth h3 {
		padding-bottom: 15%;
		padding-right: 40%;
	}

	.carousel-seventh h1 {
		padding-top: 15%;
	}

	.main-contact {
		top: 80%;
		text-align: center;
	}

}


/*ABOUT*/




/*SERVICES*/




/*PRICING*/




/*PORTFOLIO*/
.portfolio-container {
	height: 400px;
	background-color: blueviolet;
	border: 1px solid white;
}

.card {
	height: 370px;
	background-color: yellow;
	border: 1px dashed black;
	margin-top: 15px;
}



/*CONTACT*/





/*FOOTER*/
.main-footer,
footer {
	height: 32px;
	width: 100%;
}

footer {
	text-align: center;
	padding-top: 5px;
	height: 30px;
}

.main-footer span,
footer span {
	font-style: italic;
	font-size: 0.75rem;
}

.main-footer {
	position: absolute;
	bottom: 0;
	text-align: end;
	color: #FFF;
}

.main-footer img,
footer img {
	height: 25px;
	width: 25px;
}