html {
	font-size: 16px;
	min-height: 100%;
}

body {
	margin: 0;
  padding: 0;
}

article {
  color: #343842;
}

h1,
h2,
h4 {
	font-family: 'Ruda', sans-serif;
	font-weight: 400;
}

h3,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}



/*GENERAL STYLES*/
.zind-2 {
	z-index: 2;
}



/*NAVIGATION*/
.navbar {
	padding: 1.25rem 0.5rem 0.5rem 0.5rem;
}
.current a {
	font-weight: 600;
	text-decoration: underline;
}

.dropdown-menu a {
	font-weight: 400;
	text-decoration: none;
}



/*MAIN*/
.carousel {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.carousel img {
	height: 100%;
}

.carousel-item {
	transition: transform .9s ease-in-out;
}

.carousel-text {
	position: absolute;
	right: 15%;
	bottom: 20rem;
	left: 15%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: black;
	text-align: center;
}

.carousel-caption {
	bottom: 6rem;
}

.main-contact {
	position: absolute;
	top: 75%;
	width: 100%;
}

.main-contact h5{
	text-align: center;
}

.main-contact a {
	color: black;
	text-decoration: none;
}



/*ABOUT*/




/*SERVICES*/




/*PRICING*/




/*PORTFOLIO*/
.portfolio-container {
	height: 400px;
	background-color: blueviolet;
	border: 1px solid white;
}



/*CONTACT*/





/*FOOTER*/
.main-footer,
footer {
	height: 32px;
	width: 100%;
}

footer {
	text-align: center;
}

.main-footer {
	position: absolute;
	bottom: 0;
	text-align: end;
}

.main-footer img,
footer img {
	height: 20px;
	width: 20px;
}