{% extends "base.html" %}

{% block title %} About {% endblock%}

{% block body %}
<div class="container-fluid pages about">
  <h1>About</h1>
  <div class="clearfix">
    <img class="col-md-4 float-md-end d-block img-fluid" src="../static/img/profilepic2.jpg" alt="...">
    <p>As a web developer in Los Angeles, California, I am a problem-solver, a creator, and a designer. </p>
    <p>Passionate about learning, I was first drawn to the world of coding as it is all about creative problem-solving. I love taking apart and thinking about problems to solve and am ecstatic when I find beautiful solutions for them - which is what I aim to do in all my work.</p>
    <p>Alongside my passion, I have plenty of experience in different fields where I was able to gain the knowledge needed in determining business and user needs. The majority of my work experience entailed having to see both sides before making decisions, which means I have the insight to see both your needs and your users' needs.</p>
    <p>I also have a wide skillset I am always applying to my work, namely my organizational skills, the ability to see the finer details, my experience with marketing materials, and the skills for video editing. All these aspects shape my work so that they are of utmost quality. </p>
    <p>All in all, I desire to create high-quality websites that are both aesthetically-pleasing and user-friendly. I hope that my work will achieve a greater connection between you and your users.</p>
    <p>If you would like more information or would like to employ my services, please <a href="/contact">contact me</a>!</p> 
  </div>
  
    

</div>
{% endblock %}