{% extends "base.html" %}

{% block title %} Iris B. Han {% endblock%}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/img/pexels-jonathan-borba-4431922.jpg" class="d-block w-100" alt="...">
      <div class="main-text d-lg-grid">
        <h1 class="row justify-content-center align-items-end">IRIS B HAN</h1>
        <h2 class="row col-lg-6 offset-lg-3 align-items-center">Creating, building, and bringing to life your envisioned website, so you can focus on everything else.</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/pexels-ann-h-1762851.jpg" class="d-block w-100" alt="...">
      <div class="carousel-text d-lg-grid container-fluid carousel-second">
        <h1 class="row offset-lg-1 align-items-end">Creativity</h1>
        <h3 class="row col-lg-5 offset-lg-1">Designs that capture your attention</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/pexels-takeshi-arai-4107337.jpg" class="d-block w-100" alt="...">
      <div class="carousel-text d-lg-grid container-fluid carousel-third">
        <h1 class="row align-items-end">Responsive</h1>
        <h3 class="row">Websites for any platform</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/pexels-engin-akyurt-1435752.jpg" class="d-block w-100" alt="...">
      <div class="carousel-text d-lg-grid container-fluid carousel-fourth">
        <h1 class="row offset-lg-2 align-items-end">User-Friendly</h1>
        <h3 class="row offset-lg-4">Features that are straightforward and easy to use</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/pexels-magda-ehlers-960137.jpg" class="d-block w-100" alt="...">
      <div class="carousel-text d-lg-grid container-fluid carousel-fifth">
        <h1 class="row offset-lg-7 align-items-end">E-Commerce</h1>
        <h3 class="row offset-lg-7">Let your site visitors become your customers</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/pexels-suzy-hazelwood-1629236.jpg" class="d-block w-100" alt="...">
      <div class="carousel-text d-lg-grid container-fluid carousel-sixth">
        <h1 class="row offset-lg-2 align-items-end">Social Media</h1>
        <h3 class="row offset-lg-2">Connect and promote all your social media accounts</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/pexels-henry-&-co-1939485.jpg" class="d-block w-100" alt="...">
      <div class="carousel-text d-lg-grid container-fluid carousel-seventh">
        <h1 class="row offset-lg-1 align-items-end">Marketing</h1>
        <h3 class="row offset-lg-6">Company branding, SEO, and online presence</h3>
      </div>
    </div>
  </div>
</div>

<div class="main-contact d-md-block">
  <a href="mailto:irisbhan@gmail.com"><img src="../static/img/email-wht.png" alt="..." class="mail-img"></a>
</div>

<div class="main-footer zind-2 pb-2 pe-3">
  <img src="../static/img/logo/logo-sm.png" alt="..."><span> Created by </span> Iris B. Han
</div>

{% endblock %}