{% extends "base.html" %}

{% block title %} Portfolio {% endblock%}

{% block body %}
<div>
  <h1>Portfolio</h1>
  <div class="row">
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>

    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3"></div>
  </div>

</div>

{% endblock %}