{% extends "base.html" %}

{% block title %} Portfolio {% endblock%}

{% block body %}
<div class="container-fluid pages">
  <h1>Portfolio</h1>
  <div class="row">
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card">
        <img src="../static/img/wip/web.gif" class="img-fluid" alt="..." >
        <a href="/portfolio/1"><h3 class='card-title'>VEGAN RECIPE COLLECTOR</h3></a>
      </div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card">
        <img src="../static/img/wip/portfolio.gif" class="img-fluid" alt="..." >
        <a href="/portfolio/2"><h3 class='card-title'>PORTFOLIO SITE</h3></a>
      </div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card">
        <img src="../static/img/wip/web.gif" class="img-fluid" alt="..." >
        <a href="/portfolio/3"><h3 class='card-title'>WEB SERVICES</h3></a>
      </div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card">
        <img src="../static/img/wip/web.gif" class="img-fluid" alt="..." >
        <a href="/portfolio/4"><h3 class='card-title'>TITLE</h3></a>
      </div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card"></div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card"></div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card"></div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card"></div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card"></div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card"></div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card"></div>
    </div>
    <div class="portfolio-container col-md-6 col-lg-4 col-xxl-3">
      <div class="card"></div>
    </div>
  </div>

</div>

{% endblock %}