{% extends "base.html" %}

{% block title %} Pricing {% endblock%}

{% block body %}
<div class="container-fluid pages pricing">
  <h1>Pricing</h1>
  <div class="row">
    <div class="col-12 col-lg-4 ">
      <div class="pricing-title text-center">
        <div>
          <h3>Tier 1</h3>
          <h5>Basic</h5>
        </div>
      </div>
      <ul>
        <li>Custom homepage</li>
        <li>4 other pages</li>
        <li>Choose page designs from templates</li>
        <li>Responsive design</li>
        <li>Mobile-friendly</li>
        <li>1 month technical support</li>
        <li>Choose 1 main feature</li>
      </ul>
    </div>
    <div class="col-12 col-lg-4 ">
      <div class="pricing-title text-center">
        <div>
          <h3>Tier 2</h3>
          <h5>Moderate</h5>
        </div>
      </div>
      <ul>
        <li>Custom homepage</li>
        <li>5-6 other pages</li>
        <li>Choose page designs from templates</li>
        <li>Responsive design</li>
        <li>Mobile-friendly</li>
        <li>3 months technical support</li>
        <li>Choose 1 main feature</li>
      </ul>
    </div>
    <div class="col-12 col-lg-4 ">
      <div class="pricing-title text-center">
        <div>
          <h3>Tier 3</h3>
          <h5>Advanced</h5>
        </div>
      </div>
      <ul>
        <li>Custom homepage</li>
        <li>7-8 other pages</li>
        <li>Completely custom design</li>
        <li>Responsive design</li>
        <li>Mobile-friendly</li>
        <li>6 months technical support</li>
        <li>Choose 2 main features</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}