{% extends "base.html" %}

{% block title %} Services {% endblock%}

{% block body %}
<div class="container-fluid pages services">
  <h1>Services</h1>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 serv-container">
      <div class="serv-text">
        <h2>Business Websites</h2>
        <h3>Clean and aesthetically pleasing to inform visitors about your business.</h3>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 serv-container">
      <div class="serv-text">
        <h2>E-Commerce Websites</h2>
        <h3>Easy to use and navigate, making purchases simple.</h3>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 serv-container">
      <div class="serv-text">
        <h2>Personal Websites & Blogs</h2>
        <h3>Catered to your needs, adding a bit of your personality.</h3>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 serv-container">
      <div class="serv-text">
        <h2>Website Maintenance</h2>
        <h3>For websites that need regularly updated information.</h3>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 serv-container">
      <div class="serv-text">
        <h2>Website Revamp</h2>
        <h3>Revamp and even rebrand with a new look.</h3>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 serv-container">
      <div class="serv-text">
        <h2>New Features</h2>
        <h3>For when you need to add some content without breaking everything else.</h3>
      </div>
    </div>
  </div> 
</div>
{% endblock %}